{{#if version}}
    {{#link-to 'bookVersion' key}}
        {{#with version}}
            <h4>{{title}} {{#if year}}({{year}}){{/if}} {{#if publisher}}<small>- {{publisher}}</small>{{/if}}</h4>
            <div class="version-isbn">
                <strong>isbn10</strong>: {{isbn.isbn10}}
                <strong>isbn13</strong>: {{isbn.isbn13}}
            </div>
        {{/with}}
    {{/link-to}}
{{else}}
    {{#unless loaded}}
    {{/unless}}
{{/if}}