<div class="book-detail">
    <div class="pure-g-r">

        <div class="pure-u-1-5">
        </div>
        <div class="pure-u-4-5">
            <h2>{{title}} {{#if year}}({{year}}){{/if}}</h2>
            <h3 class="sub-header">{{subtitle}}</h3>

            <ul>
                {{#if authors}}
                    <li>
                        <h5>Autoren</h5>
                        <p>
                            {{#each authors}}
                                {{this}},
                            {{/each}}
                        </p>
                    </li>
                {{/if}}
            </ul>

            <ul>
                <!-- lazy TODO: remove empty p -->
                <li><h5>Auflagen</h5><p></p></li>
            {{#each preparedIsbns}}
                <li>
                    {{book-version types=types key=key}}
                </li>
            {{/each}}
            </ul>
        </div>
    </div>
</div>