<div class="book-detail">
    <div class="pure-g-r">

        <div class="pure-u-1-5">
            {{#if bestVersion}}
                {{#with bestVersion}}
                    <img {{bind-attr src="largestThumbnail" alt="title"}}/>
                {{/with}}
            {{/if}}
        </div>
        <div class="pure-u-4-5">
            <h2>{{title}} {{#if year}}({{year}}){{/if}}</h2>
            <h3 class="sub-header">{{subtitle}}</h3>

            <ul>
                {{#if authors}}
                    <li>
                        <h5>Autoren</h5>
                        <p>
                            {{#each authors}}
                                {{this}} <br/>
                            {{/each}}
                        </p>
                    </li>
                {{/if}}
                {{#if bestVersion.textSnippet}}
                    <li>
                        <h5>Text-Snippet</h5>
                        <p>{{{bestVersion.textSnippet}}}</p>
                    </li>
                {{/if}}
            </ul>
            <ul>
                <!-- lazy TODO: remove empty p -->
                <li><h5>Auflagen</h5><p></p></li>
                {{#each versions}}
                    {{book-version version=this}}
                {{/each}}
            </ul>
        </div>
    </div>
</div>