<div class="book-detail">
    <div class="pure-g-r">

        <div class="pure-u-1-5">
            <img {{bindAttr src="largestThumbnail" alt="title"}}/>
        </div>
        <div class="pure-u-4-5">
            <h2>{{title}} {{#if year}}({{year}}){{/if}}</h2>
            <h3 class="sub-header">{{subtitle}}</h3>

            <ul>
            {{#each preparedIsbns}}
                <li>{{#link-to 'bookVersion' key}}{{types}}{{/link-to}}</li>
            {{/each}}
            </ul>
        </div>
    </div>
</div>